@import url(../fonts/fonts.css);
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Futura", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Helvetica", sans-serif;
}

.content {
  background-color: #2a2c2f;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 56px;
}
.header__language {
  display: flex;
  gap: 18px;
}
.header__language-link {
  font: 400 24px / 1.16667 var(--font-family);
}
.lead {
  display: flex;
  flex-direction: column;
  padding: 0 148px;
  margin-bottom: 92px;
}
.lead__title {
  font: 900 96px / 1.04167 var(--font-family);
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.lead__subtitle {
  font: 400 30px / 1.2 var(--font-family);
  text-align: center;
  color: #fff;
  margin-bottom: 64px;
}
.lead__caption-text {
  font: 400 10px / 1.4 var(--font-family);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
}
.lead__caption {
  margin-top: 8px;
}
.lead__photo {
  max-width: 984px;
}
.description {
  max-width: 690px;
  max-height: 429px;
  margin-left: 148px;
  margin-bottom: 92px;
}
.description__title {
  font: 900 54px / 1.07407 var(--font-family);
  color: #fff;
  margin-bottom: 40px;
}
.description__list {
  list-style: none;
  margin-bottom: 33px;
}
.description__list-item {
  font: 700 12px / 1.5 var(--font-family);
  color: #fff;
}
.description__list-value {
  font: 400 12px / 1.5 var(--font-family);
}
.description__text {
  font: 400 16px / 1.63 var(--font-family);
  color: #fff;
}
.photo__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  padding: 0 48px;
}
.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 87px auto 97px;
}
.place {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "title url"
    "img text"
    "img text";
  padding: 0 148px;
  gap: 48px 40px;
}
.place__title {
  grid-area: title;
  font: 900 72px / 1.05556 var(--font-family);
  color: #fff;
}
.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: img;
}
.place__website {
  grid-area: url;
  max-width: 484px;
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.place__link {
  font: 400 18px / 1.22222 var(--font-family);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.place__url-heading {
  font: 400 12px / 1 var(--font-family);
  letter-spacing: 0.17em;
  color: #aaa;
}
.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  grid-area: text;
  max-width: 484px;
}
.place__paragraph {
  font: 400 18px / 1.63 var(--font-family);
  color: #fff;
}
.cover {
  max-width: 1184px;
  height: 740px;
  margin: 0 48px;
  background-image: url(../images/cover__background.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 0;
  background: #2a2c2f / 0.3;
  margin: 0 auto;
}
.cover__title {
  font: 900 72px / 1.05556 var(--font-family);
  text-align: center;
  color: #fff;
}
.cover__text {
  font: 400 18px / 1.22222 var(--font-family);
  text-align: center;
  color: #fff;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}
.footer__nav-list {
  display: flex;
  gap: 18px;
  list-style: none;
}
.footer-text {
  color: white;
}
.footer__nav-link {
  font-size: 16px;
  font-weight: 400px;
  font-family: var(--font-family);
  color: #fff;
}
.text {
  text-decoration: none;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
}
.link-active {
  border-bottom: 1px solid white;
}
